<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cz.uhk.graphtheory">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_line_chart_line_graph"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_line_chart_line_graph"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="cz.uhk.graphtheory.statistics.StatisticsActivity"
            android:noHistory="true"
            android:configChanges="screenSize|orientation|screenLayout|navigation"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name="cz.uhk.graphtheory.login.FractionActivity" />

        <activity
            android:name="cz.uhk.graphtheory.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="cz.uhk.graphtheory.first.FirstActivity"
            android:configChanges="screenSize|orientation|screenLayout|navigation"
            android:theme="@style/AppTheme.NoActionBar" />
            <!--  configChanges da vedet o tom, ze se zmenila rotace obrazovky          -->
        <activity
            android:name="cz.uhk.graphtheory.second.SecondActivity"
            android:configChanges="screenSize|orientation|screenLayout|navigation"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="cz.uhk.graphtheory.third.ThirdActivity"
            android:configChanges="screenSize|orientation|screenLayout|navigation"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="cz.uhk.graphtheory.fourth.FourthActivity"
            android:configChanges="screenSize|orientation|screenLayout|navigation"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="cz.uhk.graphtheory.fifth.FifthActivity"
            android:configChanges="screenSize|orientation|screenLayout|navigation"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="cz.uhk.graphtheory.sixth.SixthActivity"
            android:configChanges="screenSize|orientation|screenLayout|navigation"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="cz.uhk.graphtheory.seventh.SeventhActivity"
            android:configChanges="screenSize|orientation|screenLayout|navigation"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="cz.uhk.graphtheory.eight.EightActivity"
            android:configChanges="screenSize|orientation|screenLayout|navigation"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="cz.uhk.graphtheory.ninth.NinthActivity"
            android:configChanges="screenSize|orientation|screenLayout|navigation"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>